
#user-board-list{
    width:100%;
    height:80%;
    /* background-color: powderblue; */
}

#write-btn{
    float:right;
    width:100px;
    height:40px;
    border-radius: 5px;
    cursor: pointer;
}
#write-btn:hover{
    color:#fff;
    background-color: #333;
}